In [1]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine 
import numpy as np

In [2]:
#Read in the Crime excel file
crime_file = "Crime Rates by Metropolitan Areas 2016.xls"
crime_df = pd.read_excel(crime_file)
crime_df.head()

,"Metropolitan Statistical Area; places in light type are parts of bigger metro areas, in bold.",Note that not all areas show Violent Crime Totals.,Population,Violent crime,Murder and nonnegligent manslaughter,Rape1,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
0,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.","Rate per 100,000 inhabitants",2157729,245.3,23.4,4.9,123.0,94,1190.4,255.6,778.7,156.1
1,"Fairbanks, AK M.S.A.","Rate per 100,000 inhabitants",34657,669.4,20.2,101.0,92.3,455.9,4377.2,499.2,3482.7,395.3
2,"Detroit-Dearborn-Livonia, MI M.D.","Rate per 100,000 inhabitants",1747582,1034.2,19.4,63.2,220.9,730.7,3132.6,735.0,1725.4,672.1
3,"New Orleans-Metairie, LA M.S.A.","Rate per 100,000 inhabitants",1272995,558.8,18.9,56.0,162.0,321.9,3001.3,468.3,2245.5,287.5
4,"Memphis, TN-MS-AR M.S.A.","Rate per 100,000 inhabitants",1346931,1082.1,18.5,54.6,269.4,739.6,3868.2,934.3,2623.2,310.6

In [3]:
# Load in file and read in the CSV
weather_file = "cloudy_updated_new.csv"
weather_pd = pd.read_csv(weather_file)
weather_pd.head()

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,CD_Oct,CL_Nov,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual
0,13876,"BIRMINGHAM ,AL",37,7,6,18,7,6,15,7,...,9,10,7,13,8,7,16,99,111,155
1,3856,"HUNTSVILLE, AL",27,7,6,18,7,6,16,7,...,12,9,7,14,8,6,18,100,101,164
2,13894,"MOBILE, AL",47,8,6,17,8,7,14,9,...,9,11,7,12,9,6,16,102,116,147
3,13895,"MONTGOMERY, AL",51,7,6,17,8,6,14,8,...,10,11,6,13,9,6,16,107,107,151
4,26451,"ANCHORAGE, AK",44,7,5,19,6,4,18,8,...,21,6,5,20,6,4,21,61,65,239

In [4]:
#Transform Crime Data Frame 
crime_cols = crime_df[["Metropolitan Statistical Area; places in light type are parts of bigger metro areas, in bold.","Aggravated\nassault", "Violent\ncrime","Murder and\nnonnegligent\nmanslaughter", "Robbery"]]
crime_cols.head()

,"Metropolitan Statistical Area; places in light type are parts of bigger metro areas, in bold.",Aggravated assault,Violent crime,Murder and nonnegligent manslaughter,Robbery
0,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",94,245.3,23.4,123.0
1,"Fairbanks, AK M.S.A.",455.9,669.4,20.2,92.3
2,"Detroit-Dearborn-Livonia, MI M.D.",730.7,1034.2,19.4,220.9
3,"New Orleans-Metairie, LA M.S.A.",321.9,558.8,18.9,162.0
4,"Memphis, TN-MS-AR M.S.A.",739.6,1082.1,18.5,269.4

In [5]:
#Rename the Columns
crime_clean = crime_cols.rename(columns={"Metropolitan Statistical Area; places in light type are parts of bigger metro areas, in bold.": "Location",
                                        "Aggravated\nassault": "Aggravated Assault",
                                        "Murder and\nnonnegligent\nmanslaughter": "Murder",
                                        "Violent\ncrime": "Violent Crime"})
crime_clean.head()

,Location,Aggravated Assault,Violent Crime,Murder,Robbery
0,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",94,245.3,23.4,123.0
1,"Fairbanks, AK M.S.A.",455.9,669.4,20.2,92.3
2,"Detroit-Dearborn-Livonia, MI M.D.",730.7,1034.2,19.4,220.9
3,"New Orleans-Metairie, LA M.S.A.",321.9,558.8,18.9,162.0
4,"Memphis, TN-MS-AR M.S.A.",739.6,1082.1,18.5,269.4

In [6]:
#Drop empty data
crime_clean.dropna(inplace = True)
crime_clean=pd.concat([crime_clean,crime_clean.Location.str.split(',',expand=True)],1)

crime_clean.head()

,Location,Aggravated Assault,Violent Crime,Murder,Robbery,0,1,2
0,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",94,245.3,23.4,123.0,San Juan-Carolina-Caguas,Puerto Rico M.S.A.,None
1,"Fairbanks, AK M.S.A.",455.9,669.4,20.2,92.3,Fairbanks,AK M.S.A.,None
2,"Detroit-Dearborn-Livonia, MI M.D.",730.7,1034.2,19.4,220.9,Detroit-Dearborn-Livonia,MI M.D.,None
3,"New Orleans-Metairie, LA M.S.A.",321.9,558.8,18.9,162.0,New Orleans-Metairie,LA M.S.A.,None
4,"Memphis, TN-MS-AR M.S.A.",739.6,1082.1,18.5,269.4,Memphis,TN-MS-AR M.S.A.,None

In [7]:
#Rename the new columns
crime_split = crime_clean.rename(columns={0: "City1",
                                        1: "State"})
crime_split.head()

,Location,Aggravated Assault,Violent Crime,Murder,Robbery,City1,State,2
0,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",94,245.3,23.4,123.0,San Juan-Carolina-Caguas,Puerto Rico M.S.A.,None
1,"Fairbanks, AK M.S.A.",455.9,669.4,20.2,92.3,Fairbanks,AK M.S.A.,None
2,"Detroit-Dearborn-Livonia, MI M.D.",730.7,1034.2,19.4,220.9,Detroit-Dearborn-Livonia,MI M.D.,None
3,"New Orleans-Metairie, LA M.S.A.",321.9,558.8,18.9,162.0,New Orleans-Metairie,LA M.S.A.,None
4,"Memphis, TN-MS-AR M.S.A.",739.6,1082.1,18.5,269.4,Memphis,TN-MS-AR M.S.A.,None

In [8]:
#Drop the columns I dont need
crime_split = crime_split[["Location", "Aggravated Assault", "Violent Crime", "Murder", "Robbery", "City1", "State"]]
crime_split.head()

,Location,Aggravated Assault,Violent Crime,Murder,Robbery,City1,State
0,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",94,245.3,23.4,123.0,San Juan-Carolina-Caguas,Puerto Rico M.S.A.
1,"Fairbanks, AK M.S.A.",455.9,669.4,20.2,92.3,Fairbanks,AK M.S.A.
2,"Detroit-Dearborn-Livonia, MI M.D.",730.7,1034.2,19.4,220.9,Detroit-Dearborn-Livonia,MI M.D.
3,"New Orleans-Metairie, LA M.S.A.",321.9,558.8,18.9,162.0,New Orleans-Metairie,LA M.S.A.
4,"Memphis, TN-MS-AR M.S.A.",739.6,1082.1,18.5,269.4,Memphis,TN-MS-AR M.S.A.

In [9]:
#Strip down the city names 
crime_split2=pd.concat([crime_split,crime_split.City1.str.split('-',expand=True)],1)
crime_split2.head()

,Location,Aggravated Assault,Violent Crime,Murder,Robbery,City1,State,0,1,2,3
0,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",94,245.3,23.4,123.0,San Juan-Carolina-Caguas,Puerto Rico M.S.A.,San Juan,Carolina,Caguas,None
1,"Fairbanks, AK M.S.A.",455.9,669.4,20.2,92.3,Fairbanks,AK M.S.A.,Fairbanks,None,None,None
2,"Detroit-Dearborn-Livonia, MI M.D.",730.7,1034.2,19.4,220.9,Detroit-Dearborn-Livonia,MI M.D.,Detroit,Dearborn,Livonia,None
3,"New Orleans-Metairie, LA M.S.A.",321.9,558.8,18.9,162.0,New Orleans-Metairie,LA M.S.A.,New Orleans,Metairie,None,None
4,"Memphis, TN-MS-AR M.S.A.",739.6,1082.1,18.5,269.4,Memphis,TN-MS-AR M.S.A.,Memphis,None,None,None

In [10]:
#Clean up the final table!!! 
crime_split2 = crime_split2.rename(columns={0: "City"})

crime_final2 = crime_split2[["State", "Aggravated Assault", "Violent Crime", "Murder", "Robbery", "City"]]
crime_final2.head(372)

,State,Aggravated Assault,Violent Crime,Murder,Robbery,City
0,Puerto Rico M.S.A.,94,245.3,23.4,123.0,San Juan
1,AK M.S.A.,455.9,669.4,20.2,92.3,Fairbanks
2,MI M.D.,730.7,1034.2,19.4,220.9,Detroit
3,LA M.S.A.,321.9,558.8,18.9,162.0,New Orleans
4,TN-MS-AR M.S.A.,739.6,1082.1,18.5,269.4,Memphis
5,AL M.S.A.5,391.5,584.8,14.7,145.6,Mobile
6,PA M.D.,424.8,826.7,14.6,324.5,Philadelphia
7,MD M.S.A.,386.9,710.3,14.1,276.7,Baltimore
8,GA M.S.A.,227.4,417.4,13.8,155.8,Savannah
9,AL M.S.A,464.8,572.2,13.7,58.7,Auburn
10,MI M.S.A.,445.7,628.1,13.2,95.9,Flint
11,LA M.S.A.,694,915.9,13.1,152.5,Hammond
12,CA M.S.A.,252.7,419.3,12.9,116.5,Salinas
13,IL M.D.2,266.6,512.8,11.9,199.0,Chicago
14,GA M.S.A.,534.9,734.8,11.8,159.9,Albany
15,AL M.S.A.,281,471.7,11.8,142.2,Montgomery
16,LA M.S.A.,451.7,650.9,11.7,140.7,Shreveport
17,NC M.S.A.,370,523.8,11.6,109.7,Fayetteville
18,IN M.S.A.,152.9,298.5,11.4,104.3,Fort Wayne
19,LA M.S.A.,958,1186.9,11.2,180.9,Monroe
21,AR M.S.A,682.9,909.1,10.8,150.4,Pine Bluff
22,IN M.D.,145.6,272.4,10.6,93.9,Gary
23,GA-AL M.S.A.,279.2,518.3,10.4,189.9,Columbus
24,KY-IN M.S.A.,263.1,437.8,10.4,140.6,Louisville/Jefferson County
25,IL-IN-WI M.S.A.2,232.8,443,10.2,166.8,Chicago
26,AR M.S.A.4,553.9,760,10.0,136.8,Little Rock
27,CA M.S.A.,403.3,579.8,9.9,131.8,Bakersfield
28,WV M.S.A,329,417.2,9.9,48.6,Beckley
29,WI M.S.A.2,373.5,656,9.9,232.1,Milwaukee
30,LA M.S.A.,321.9,505,9.5,140.1,Baton Rouge
...,...,...,...,...,...,...
349,NY M.D.,92.2,155,1.0,30.9,Dutchess County
350,WI M.S.A.,115.8,180.6,1.0,12.8,Fond du Lac
351,ND-MN M.S.A.,153.6,240.3,1.0,26.6,Grand Forks
352,KS M.S.A.,186.7,259.3,1.0,22.2,Manhattan
353,IL-WI M.D.,100.5,175.4,0.9,51.0,Lake County
354,WA M.S.A.,101.2,143.7,0.9,15.3,Wenatchee
355,PA M.S.A.,143.3,212.9,0.8,36.8,Altoona
356,UT M.S.A.,38.7,77.6,0.8,10.7,Provo
357,FL M.S.A.,203.6,234,0.8,9.6,The Villages
358,ID M.S.A.,252.4,299.6,0.7,12.7,Idaho Falls
359,WI-MN M.S.A.,88.1,135.4,0.7,16.7,La Crosse
360,CA M.S.A.,324.6,419.3,0.7,50.5,Napa
361,WI M.S.A.2,83.1,132.3,0.7,19.9,Wausau
362,MI M.S.A.,212.8,317.3,0.6,51.5,Ann Arbor
364,MN M.S.A.,113.7,198.7,0.5,34.8,St. Cloud
365,WA M.S.A.,180.3,258.7,0.4,35.4,Bremerton
366,CO M.S.A.,142.2,236.3,0.3,25.3,Boulder
367,OR M.S.A.,59,113.9,0.0,27.0,Albany
368,ME M.S.A.,40.6,95.6,0.0,26.9,Bangor
369,WY M.S.A.,160.5,202.7,0.0,14.5,Casper
370,IN M.S.A.,31.8,81.8,0.0,24.4,Columbus
371,GA M.S.A.,531.5,688.6,0.0,47.2,Dalton
372,IL M.S.A.,587.7,808.3,0.0,126.2,Danville
373,IA M.S.A.,176.8,291.6,0.0,42.0,Iowa City
374,ME M.S.A.,73.6,136.1,0.0,28.0,Lewiston
375,MT M.S.A.,286.4,413.1,0.0,55.5,Missoula
376,NJ M.S.A.,147.2,231.5,0.0,57.6,Ocean City
377,WI M.S.A.,126.6,165.5,0.0,26.5,Oshkosh
378,MN M.S.A.,70.7,137.7,0.0,24.7,Rochester
379,UT M.S.A.,107.7,169,0.0,11.9,St. George

In [11]:
#crime_final2.sort_values(by=['City'])
crime_final3 = crime_final2.sort_values(by=['City'])
crime_final3.head(372)

,State,Aggravated Assault,Violent Crime,Murder,Robbery,City
94,TX M.S.A.,227.8,361.4,6.5,80.6,Abilene
108,OH M.S.A.2,121,253.1,6.0,77.3,Akron
367,OR M.S.A.,59,113.9,0.0,27.0,Albany
282,NY M.S.A.,180,289.7,2.0,68.7,Albany
14,GA M.S.A.,534.9,734.8,11.8,159.9,Albany
50,NM M.S.A.,596.7,901,8.3,238.7,Albuquerque
59,LA M.S.A.,748.5,923.2,7.8,116.9,Alexandria
355,PA M.S.A.,143.3,212.9,0.8,36.8,Altoona
123,TX M.S.A.2,413.7,592.7,5.3,102.2,Amarillo
348,IA M.S.A.,88.5,162.5,1.0,17.5,Ames
300,CA M.D.,134.4,228.8,1.8,67.2,Anaheim
43,AK M.S.A.,707.8,1114.9,8.9,224.6,Anchorage
362,MI M.S.A.,212.8,317.3,0.6,51.5,Ann Arbor
80,AL M.S.A.,728.3,894.7,7.0,108.0,Anniston
311,WI M.S.A.,110.7,151.2,1.7,13.2,Appleton
137,NC M.S.A.3,158.9,240.4,5.1,54.7,Asheville
232,GA M.S.A.,214.6,341.5,2.9,85.9,Athens
83,GA M.S.A.,228.2,403.2,6.8,144.1,Atlanta
9,AL M.S.A,464.8,572.2,13.7,58.7,Auburn
68,GA-SC M.S.A.,214.9,342.8,7.4,84.5,Augusta
210,TX M.S.A.,187.4,316.9,3.4,68.7,Austin
27,CA M.S.A.,403.3,579.8,9.9,131.8,Bakersfield
7,MD M.S.A.,386.9,710.3,14.1,276.7,Baltimore
368,ME M.S.A.,40.6,95.6,0.0,26.9,Bangor
30,LA M.S.A.,321.9,505,9.5,140.1,Baton Rouge
127,MI M.S.A,542.1,746.7,5.2,66.5,Battle Creek
233,MI M.S.A.,232.9,369.7,2.9,30.4,Bay City
93,TX M.S.A.2,382.9,573.8,6.6,142.3,Beaumont
28,WV M.S.A,329,417.2,9.9,48.6,Beckley
291,WA M.S.A,132.8,224.3,1.9,32.0,Bellingham
...,...,...,...,...,...,...
224,TX M.S.A.2,219.7,327.3,3.1,67.2,Tyler
324,HI M.S.A.,210.6,334.6,1.6,84.0,Urban Honolulu
333,NY M.S.A.,148.8,265.9,1.4,51.9,Utica
154,GA M.S.A.,228.2,320.3,4.9,67.0,Valdosta
120,CA M.S.A.,262.1,462,5.5,147.8,Vallejo
79,NJ M.S.A.,254.5,518,7.1,215.1,Vineland
31,VA-NC M.S.A.,200.6,352.1,9.5,104.7,Virginia Beach
76,CA M.S.A.,244.9,352.9,7.2,71.5,Visalia
251,TX M.S.A.,271.3,424.1,2.7,71.6,Waco
225,WA M.S.A.,160.5,250,3.1,30.9,Walla Walla
159,GA M.S.A.,322.8,452.1,4.7,100.8,Warner Robins
290,MI M.D.,154.7,228.3,2.0,31.1,Warren
169,DC-VA-MD-WV M.S.A.,157.8,301.3,4.5,108.3,Washington
125,DC-VA-MD-WV M.D.,174.4,331.3,5.3,120.4,Washington
310,IA M.S.A.,344.7,442.4,1.8,42.1,Waterloo
319,NY M.S.A.,145.2,240,1.7,14.5,Watertown
361,WI M.S.A.2,83.1,132.3,0.7,19.9,Wausau
320,WV-OH M.S.A.,100.5,159.2,1.7,36.0,Weirton
354,WA M.S.A.,101.2,143.7,0.9,15.3,Wenatchee
126,FL M.D.,290.1,451.9,5.3,121.2,West Palm Beach
243,WV-OH M.S.A.,275,349.8,2.8,30.1,Wheeling
97,KS M.S.A.7,535.9,708.8,6.5,106.3,Wichita
55,TX M.S.A.,178.5,362.3,8.0,85.9,Wichita Falls
107,PA M.S.A.,121.9,205.7,6.1,50.1,Williamsport
113,NC M.S.A.,233.1,363.6,6.0,95.5,Wilmington
72,DE-MD-NJ M.D.,315.9,513,7.3,163.4,Wilmington
136,VA-WV M.S.A.,64.1,138.7,5.2,19.4,Winchester
49,WA M.S.A.,183.9,299.5,8.4,74.6,Yakima
176,PA M.S.A.,137,234.5,4.3,69.1,York
66,CA M.S.A.,280.3,397.5,7.6,80.3,Yuba City

In [12]:
# Applying upper() method on 'City' column 
crime_final3['City'] = crime_final3['City'].str.upper()

In [13]:
crime_final3.head(372)

,State,Aggravated Assault,Violent Crime,Murder,Robbery,City
94,TX M.S.A.,227.8,361.4,6.5,80.6,ABILENE
108,OH M.S.A.2,121,253.1,6.0,77.3,AKRON
367,OR M.S.A.,59,113.9,0.0,27.0,ALBANY
282,NY M.S.A.,180,289.7,2.0,68.7,ALBANY
14,GA M.S.A.,534.9,734.8,11.8,159.9,ALBANY
50,NM M.S.A.,596.7,901,8.3,238.7,ALBUQUERQUE
59,LA M.S.A.,748.5,923.2,7.8,116.9,ALEXANDRIA
355,PA M.S.A.,143.3,212.9,0.8,36.8,ALTOONA
123,TX M.S.A.2,413.7,592.7,5.3,102.2,AMARILLO
348,IA M.S.A.,88.5,162.5,1.0,17.5,AMES
300,CA M.D.,134.4,228.8,1.8,67.2,ANAHEIM
43,AK M.S.A.,707.8,1114.9,8.9,224.6,ANCHORAGE
362,MI M.S.A.,212.8,317.3,0.6,51.5,ANN ARBOR
80,AL M.S.A.,728.3,894.7,7.0,108.0,ANNISTON
311,WI M.S.A.,110.7,151.2,1.7,13.2,APPLETON
137,NC M.S.A.3,158.9,240.4,5.1,54.7,ASHEVILLE
232,GA M.S.A.,214.6,341.5,2.9,85.9,ATHENS
83,GA M.S.A.,228.2,403.2,6.8,144.1,ATLANTA
9,AL M.S.A,464.8,572.2,13.7,58.7,AUBURN
68,GA-SC M.S.A.,214.9,342.8,7.4,84.5,AUGUSTA
210,TX M.S.A.,187.4,316.9,3.4,68.7,AUSTIN
27,CA M.S.A.,403.3,579.8,9.9,131.8,BAKERSFIELD
7,MD M.S.A.,386.9,710.3,14.1,276.7,BALTIMORE
368,ME M.S.A.,40.6,95.6,0.0,26.9,BANGOR
30,LA M.S.A.,321.9,505,9.5,140.1,BATON ROUGE
127,MI M.S.A,542.1,746.7,5.2,66.5,BATTLE CREEK
233,MI M.S.A.,232.9,369.7,2.9,30.4,BAY CITY
93,TX M.S.A.2,382.9,573.8,6.6,142.3,BEAUMONT
28,WV M.S.A,329,417.2,9.9,48.6,BECKLEY
291,WA M.S.A,132.8,224.3,1.9,32.0,BELLINGHAM
...,...,...,...,...,...,...
224,TX M.S.A.2,219.7,327.3,3.1,67.2,TYLER
324,HI M.S.A.,210.6,334.6,1.6,84.0,URBAN HONOLULU
333,NY M.S.A.,148.8,265.9,1.4,51.9,UTICA
154,GA M.S.A.,228.2,320.3,4.9,67.0,VALDOSTA
120,CA M.S.A.,262.1,462,5.5,147.8,VALLEJO
79,NJ M.S.A.,254.5,518,7.1,215.1,VINELAND
31,VA-NC M.S.A.,200.6,352.1,9.5,104.7,VIRGINIA BEACH
76,CA M.S.A.,244.9,352.9,7.2,71.5,VISALIA
251,TX M.S.A.,271.3,424.1,2.7,71.6,WACO
225,WA M.S.A.,160.5,250,3.1,30.9,WALLA WALLA
159,GA M.S.A.,322.8,452.1,4.7,100.8,WARNER ROBINS
290,MI M.D.,154.7,228.3,2.0,31.1,WARREN
169,DC-VA-MD-WV M.S.A.,157.8,301.3,4.5,108.3,WASHINGTON
125,DC-VA-MD-WV M.D.,174.4,331.3,5.3,120.4,WASHINGTON
310,IA M.S.A.,344.7,442.4,1.8,42.1,WATERLOO
319,NY M.S.A.,145.2,240,1.7,14.5,WATERTOWN
361,WI M.S.A.2,83.1,132.3,0.7,19.9,WAUSAU
320,WV-OH M.S.A.,100.5,159.2,1.7,36.0,WEIRTON
354,WA M.S.A.,101.2,143.7,0.9,15.3,WENATCHEE
126,FL M.D.,290.1,451.9,5.3,121.2,WEST PALM BEACH
243,WV-OH M.S.A.,275,349.8,2.8,30.1,WHEELING
97,KS M.S.A.7,535.9,708.8,6.5,106.3,WICHITA
55,TX M.S.A.,178.5,362.3,8.0,85.9,WICHITA FALLS
107,PA M.S.A.,121.9,205.7,6.1,50.1,WILLIAMSPORT
113,NC M.S.A.,233.1,363.6,6.0,95.5,WILMINGTON
72,DE-MD-NJ M.D.,315.9,513,7.3,163.4,WILMINGTON
136,VA-WV M.S.A.,64.1,138.7,5.2,19.4,WINCHESTER
49,WA M.S.A.,183.9,299.5,8.4,74.6,YAKIMA
176,PA M.S.A.,137,234.5,4.3,69.1,YORK
66,CA M.S.A.,280.3,397.5,7.6,80.3,YUBA CITY

In [14]:
# Using concat to break apart "Location" into 2 columns and splitting by comma
weather_pd=pd.concat([weather_pd,weather_pd.Location.str.split(',',expand=True)],1)
weather_pd.head()

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,0,1
0,13876,"BIRMINGHAM ,AL",37,7,6,18,7,6,15,7,...,7,13,8,7,16,99,111,155,BIRMINGHAM,AL
1,3856,"HUNTSVILLE, AL",27,7,6,18,7,6,16,7,...,7,14,8,6,18,100,101,164,HUNTSVILLE,AL
2,13894,"MOBILE, AL",47,8,6,17,8,7,14,9,...,7,12,9,6,16,102,116,147,MOBILE,AL
3,13895,"MONTGOMERY, AL",51,7,6,17,8,6,14,8,...,6,13,9,6,16,107,107,151,MONTGOMERY,AL
4,26451,"ANCHORAGE, AK",44,7,5,19,6,4,18,8,...,5,20,6,4,21,61,65,239,ANCHORAGE,AK

In [15]:
#Renaming new columns
weather_pd = weather_pd.rename(columns={0: "City", 1: "State"})
weather_pd.head()

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
0,13876,"BIRMINGHAM ,AL",37,7,6,18,7,6,15,7,...,7,13,8,7,16,99,111,155,BIRMINGHAM,AL
1,3856,"HUNTSVILLE, AL",27,7,6,18,7,6,16,7,...,7,14,8,6,18,100,101,164,HUNTSVILLE,AL
2,13894,"MOBILE, AL",47,8,6,17,8,7,14,9,...,7,12,9,6,16,102,116,147,MOBILE,AL
3,13895,"MONTGOMERY, AL",51,7,6,17,8,6,14,8,...,6,13,9,6,16,107,107,151,MONTGOMERY,AL
4,26451,"ANCHORAGE, AK",44,7,5,19,6,4,18,8,...,5,20,6,4,21,61,65,239,ANCHORAGE,AK

In [ ]:
#Checking to see unique values in each column
weather_pd.CL_Jan.unique()

In [16]:
weather_pd.drop([9,10,258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269], inplace=True)

In [17]:
#Only using columns that we need
weather_updated = weather_pd[["City", "State","CL_Annual"]]
weather_updated.head(265)

                   City State  CL_Annual
0           BIRMINGHAM     AL         99
1            HUNTSVILLE    AL        100
2                MOBILE    AL        102
3            MONTGOMERY    AL        107
4             ANCHORAGE    AK         61
5               ANNETTE    AK         40
6                BARROW    AK         66
7                BETHEL    AK         62
8               BETTLES    AK         86
11            FAIRBANKS    AK         70
12              GULKANA    AK         67
13                HOMER    AK         65
14               JUNEAU    AK         44
15          KING SALMON    AK         51
16               KODIAK    AK         59
17             KOTZEBUE    AK        100
18              MCGRATH    AK         67
19                 NOME    AK         91
20      ST. PAUL ISLAND    AK         18
21            TALKEETNA    AK         67
22           UNALAKLEET    AK         83
23               VALDEZ    AK         57
24              YAKUTAT    AK         41
25            FLAGSTAFF    AZ        162
26              PHOENIX    AZ        211
27               TUCSON    AZ        193
28              WINSLOW    AZ        177
29                 YUMA    AZ        242
30           FORT SMITH    AR        123
31          LITTLE ROCK    AR        119
..                  ...   ...        ...
228         PORT ARTHUR    TX         95
229          SAN ANGELO    TX        154
230         SAN ANTONIO    TX        105
231            VICTORIA    TX         86
232                WACO    TX        130
233       WICHITA FALLS    TX        151
234             MILFORD    UT        151
235      SALT LAKE CITY    UT        125
236          BURLINGTON    VT         58
237           LYNCHBURG    VA        112
238             NORFOLK    VA        106
239            RICHMOND    VA        100
240             ROANOKE    VA        102
241             OLYMPIA    WA         52
242          QUILLAYUTE    WA         51
243        SEATTLE C.O.    WA         71
244  SEATTLE SEA-TAC AP    WA         58
245             SPOKANE    WA         86
246              YAKIMA    WA        109
247             BECKLEY    WV         60
248          CHARLESTON    WV         65
249              ELKINS    WV         48
250          HUNTINGTON    WV         63
251           GREEN BAY    WI         85
252           LA CROSSE    WI         95
253             MADISON    WI         89
254           MILWAUKEE    WI         90
255              CASPER    WY        107
256            CHEYENNE    WY        106
257              LANDER    WY        114

[256 rows x 3 columns]

In [18]:
weather_updated2 = weather_updated.sort_values(by=['City'])
weather_updated2.head(257)

                     City  State  CL_Annual
207              ABERDEEN     SD        101
217               ABILENE     TX        149
176                 AKRON     OH         68
47                ALAMOSA     CO        148
159                ALBANY     NY         69
156           ALBUQUERQUE     NM        167
194             ALLENTOWN     PA         94
113                ALPENA     MI         67
218              AMARILLO     TX        157
4               ANCHORAGE     AK         61
5                 ANNETTE     AK         40
57           APALACHICOLA     FL        128
167             ASHEVILLE     NC         99
186               ASTORIA     OR         50
68                 ATHENS     GA        113
69                ATLANTA     GA        110
154      ATLANTIC CITY AP     NJ         94
70                AUGUSTA     GA        112
219                AUSTIN     TX        115
200                 AVOCA     PA         70
32            BAKERSFIELD     CA        191
110             BALTIMORE     MD        105
6                  BARROW     AK         66
104           BATON ROUGE     LA         99
247               BECKLEY     WV         60
7                  BETHEL     AK         62
8                 BETTLES     AK         86
133              BILLINGS     MT         89
160            BINGHAMTON     NY         52
0             BIRMINGHAM      AL         99
..                    ...    ...        ...
21              TALKEETNA     AK         67
65            TALLAHASSEE     FL        102
66                  TAMPA     FL        101
182                TOLEDO     OH         73
98                 TOPEKA     KS        114
27                 TUCSON     AZ        193
185                 TULSA     OK        127
128                TUPELO     MS        119
22             UNALAKLEET     AK         83
23                 VALDEZ     AK         57
146             VALENTINE     NE        123
231              VICTORIA     TX         86
232                  WACO     TX        130
55   WASHINGTON DULLES AP    D.C         92
56    WASHINGTON NAT'L AP   D.C.         96
94               WATERLOO     IA         91
67        WEST PALM BEACH     FL         75
99                WICHITA     KS        128
233         WICHITA FALLS     TX        151
201          WILLIAMSPORT     PA         67
175             WILLISTON     ND         93
172            WILMINGTON     NC        111
54             WILMINGTON     DE         97
151            WINNEMUCCA     NV        138
28                WINSLOW     AZ        177
112             WORCESTER     MA         90
246                YAKIMA     WA        109
24                YAKUTAT     AK         41
183            YOUNGSTOWN     OH         63
29                   YUMA     AZ        242

[256 rows x 3 columns]

In [ ]:
print(type(weather_updated2))

In [ ]:
print(type(crime_final3))

In [22]:
merge_table_final = pd.merge(crime_final3, weather_updated2, on="City", how="left")
merge_table_final

,State_x,Aggravated Assault,Violent Crime,Murder,Robbery,City,State_y,CL_Annual
0,TX M.S.A.,227.8,361.4,6.5,80.6,ABILENE,TX,149.0
1,OH M.S.A.2,121,253.1,6.0,77.3,AKRON,OH,68.0
2,OR M.S.A.,59,113.9,0.0,27.0,ALBANY,NY,69.0
3,NY M.S.A.,180,289.7,2.0,68.7,ALBANY,NY,69.0
4,GA M.S.A.,534.9,734.8,11.8,159.9,ALBANY,NY,69.0
5,NM M.S.A.,596.7,901,8.3,238.7,ALBUQUERQUE,NM,167.0
6,LA M.S.A.,748.5,923.2,7.8,116.9,ALEXANDRIA,NaN,NaN
7,PA M.S.A.,143.3,212.9,0.8,36.8,ALTOONA,NaN,NaN
8,TX M.S.A.2,413.7,592.7,5.3,102.2,AMARILLO,TX,157.0
9,IA M.S.A.,88.5,162.5,1.0,17.5,AMES,NaN,NaN
10,CA M.D.,134.4,228.8,1.8,67.2,ANAHEIM,NaN,NaN
11,AK M.S.A.,707.8,1114.9,8.9,224.6,ANCHORAGE,AK,61.0
12,MI M.S.A.,212.8,317.3,0.6,51.5,ANN ARBOR,NaN,NaN
13,AL M.S.A.,728.3,894.7,7.0,108.0,ANNISTON,NaN,NaN
14,WI M.S.A.,110.7,151.2,1.7,13.2,APPLETON,NaN,NaN
15,NC M.S.A.3,158.9,240.4,5.1,54.7,ASHEVILLE,NC,99.0
16,GA M.S.A.,214.6,341.5,2.9,85.9,ATHENS,GA,113.0
17,GA M.S.A.,228.2,403.2,6.8,144.1,ATLANTA,GA,110.0
18,AL M.S.A,464.8,572.2,13.7,58.7,AUBURN,NaN,NaN
19,GA-SC M.S.A.,214.9,342.8,7.4,84.5,AUGUSTA,GA,112.0
20,TX M.S.A.,187.4,316.9,3.4,68.7,AUSTIN,TX,115.0
21,CA M.S.A.,403.3,579.8,9.9,131.8,BAKERSFIELD,CA,191.0
22,MD M.S.A.,386.9,710.3,14.1,276.7,BALTIMORE,MD,105.0
23,ME M.S.A.,40.6,95.6,0.0,26.9,BANGOR,NaN,NaN
24,LA M.S.A.,321.9,505,9.5,140.1,BATON ROUGE,LA,99.0
25,MI M.S.A,542.1,746.7,5.2,66.5,BATTLE CREEK,NaN,NaN
26,MI M.S.A.,232.9,369.7,2.9,30.4,BAY CITY,NaN,NaN
27,TX M.S.A.2,382.9,573.8,6.6,142.3,BEAUMONT,NaN,NaN
28,WV M.S.A,329,417.2,9.9,48.6,BECKLEY,WV,60.0
29,WA M.S.A,132.8,224.3,1.9,32.0,BELLINGHAM,NaN,NaN
...,...,...,...,...,...,...,...,...
359,NY M.S.A.,148.8,265.9,1.4,51.9,UTICA,NaN,NaN
360,GA M.S.A.,228.2,320.3,4.9,67.0,VALDOSTA,NaN,NaN
361,CA M.S.A.,262.1,462,5.5,147.8,VALLEJO,NaN,NaN
362,NJ M.S.A.,254.5,518,7.1,215.1,VINELAND,NaN,NaN
363,VA-NC M.S.A.,200.6,352.1,9.5,104.7,VIRGINIA BEACH,NaN,NaN
364,CA M.S.A.,244.9,352.9,7.2,71.5,VISALIA,NaN,NaN
365,TX M.S.A.,271.3,424.1,2.7,71.6,WACO,TX,130.0
366,WA M.S.A.,160.5,250,3.1,30.9,WALLA WALLA,NaN,NaN
367,GA M.S.A.,322.8,452.1,4.7,100.8,WARNER ROBINS,NaN,NaN
368,MI M.D.,154.7,228.3,2.0,31.1,WARREN,NaN,NaN
369,DC-VA-MD-WV M.S.A.,157.8,301.3,4.5,108.3,WASHINGTON,NaN,NaN
370,DC-VA-MD-WV M.D.,174.4,331.3,5.3,120.4,WASHINGTON,NaN,NaN
371,IA M.S.A.,344.7,442.4,1.8,42.1,WATERLOO,IA,91.0
372,NY M.S.A.,145.2,240,1.7,14.5,WATERTOWN,NaN,NaN
373,WI M.S.A.2,83.1,132.3,0.7,19.9,WAUSAU,NaN,NaN
374,WV-OH M.S.A.,100.5,159.2,1.7,36.0,WEIRTON,NaN,NaN
375,WA M.S.A.,101.2,143.7,0.9,15.3,WENATCHEE,NaN,NaN
376,FL M.D.,290.1,451.9,5.3,121.2,WEST PALM BEACH,FL,75.0
377,WV-OH M.S.A.,275,349.8,2.8,30.1,WHEELING,NaN,NaN
378,KS M.S.A.7,535.9,708.8,6.5,106.3,WICHITA,KS,128.0
379,TX M.S.A.,178.5,362.3,8.0,85.9,WICHITA FALLS,TX,151.0
380,PA M.S.A.,121.9,205.7,6.1,50.1,WILLIAMSPORT,PA,67.0
381,NC M.S.A.,233.1,363.6,6.0,95.5,WILMINGTON,NC,111.0
382,NC M.S.A.,233.1,363.6,6.0,95.5,WILMINGTON,DE,97.0
383,DE-MD-NJ M.D.,315.9,513,7.3,163.4,WILMINGTON,NC,111.0
384,DE-MD-NJ M.D.,315.9,513,7.3,163.4,WILMINGTON,DE,97.0
385,VA-WV M.S.A.,64.1,138.7,5.2,19.4,WINCHESTER,NaN,NaN
386,WA M.S.A.,183.9,299.5,8.4,74.6,YAKIMA,WA,109.0
387,PA M.S.A.,137,234.5,4.3,69.1,YORK,NaN,NaN
388,CA M.S.A.,280.3,397.5,7.6,80.3,YUBA CITY,NaN,NaN

In [19]:
print(type(weather_updated2))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(type(crime_final4))

In [20]:
print(type(crime_final3))

<class 'pandas.core.frame.DataFrame'>

In [23]:
merge_table_final.dropna(inplace = True)

In [24]:
merge_table_final

,State_x,Aggravated Assault,Violent Crime,Murder,Robbery,City,State_y,CL_Annual
0,TX M.S.A.,227.8,361.4,6.5,80.6,ABILENE,TX,149.0
1,OH M.S.A.2,121,253.1,6.0,77.3,AKRON,OH,68.0
2,OR M.S.A.,59,113.9,0.0,27.0,ALBANY,NY,69.0
3,NY M.S.A.,180,289.7,2.0,68.7,ALBANY,NY,69.0
4,GA M.S.A.,534.9,734.8,11.8,159.9,ALBANY,NY,69.0
5,NM M.S.A.,596.7,901,8.3,238.7,ALBUQUERQUE,NM,167.0
8,TX M.S.A.2,413.7,592.7,5.3,102.2,AMARILLO,TX,157.0
11,AK M.S.A.,707.8,1114.9,8.9,224.6,ANCHORAGE,AK,61.0
15,NC M.S.A.3,158.9,240.4,5.1,54.7,ASHEVILLE,NC,99.0
16,GA M.S.A.,214.6,341.5,2.9,85.9,ATHENS,GA,113.0
17,GA M.S.A.,228.2,403.2,6.8,144.1,ATLANTA,GA,110.0
19,GA-SC M.S.A.,214.9,342.8,7.4,84.5,AUGUSTA,GA,112.0
20,TX M.S.A.,187.4,316.9,3.4,68.7,AUSTIN,TX,115.0
21,CA M.S.A.,403.3,579.8,9.9,131.8,BAKERSFIELD,CA,191.0
22,MD M.S.A.,386.9,710.3,14.1,276.7,BALTIMORE,MD,105.0
24,LA M.S.A.,321.9,505,9.5,140.1,BATON ROUGE,LA,99.0
28,WV M.S.A,329,417.2,9.9,48.6,BECKLEY,WV,60.0
31,MT M.S.A.,274.9,377.1,1.8,54.0,BILLINGS,MT,89.0
32,NY M.S.A.,164,289.3,2.5,60.0,BINGHAMTON,NY,52.0
33,ND M.S.A.,217,293.5,2.3,26.3,BISMARCK,ND,93.0
41,CT M.S.A.,124,229.8,1.5,85.6,BRIDGEPORT,CT,99.0
42,TX M.S.A.,277,379.1,1.9,52.8,BROWNSVILLE,TX,96.0
44,NY M.S.A.,234.2,411,4.9,138.9,BUFFALO,NY,54.0
45,NC M.S.A.,305,391.4,6.9,62.0,BURLINGTON,VT,58.0
52,WY M.S.A.,160.5,202.7,0.0,14.5,CASPER,WY,107.0
56,SC M.S.A.,287.8,418.1,9.4,87.9,CHARLESTON,WV,65.0
57,WV M.S.A.,466.9,615,7.8,96.3,CHARLESTON,WV,65.0
59,TN-GA M.S.A.,404.8,540.8,6.0,91.8,CHATTANOOGA,TN,104.0
60,WY M.S.A.,188.1,251.9,8.2,18.5,CHEYENNE,WY,106.0
61,IL-IN-WI M.S.A.2,232.8,443,10.2,166.8,CHICAGO,IL,84.0
...,...,...,...,...,...,...,...,...
327,SD M.S.A.,276,388.1,3.9,48.4,SIOUX FALLS,SD,105.0
328,IN-MI M.S.A.2,249.6,463.2,5.0,153.9,SOUTH BEND,IN,73.0
329,WA M.S.A.2,200,335.6,2.9,74.2,SPOKANE,WA,86.0
330,MO M.S.A.,419,603.6,2.6,100.3,SPRINGFIELD,IL,104.0
331,MO M.S.A.,419,603.6,2.6,100.3,SPRINGFIELD,MO,115.0
332,MA M.S.A.,359.8,537.8,2.9,123.9,SPRINGFIELD,IL,104.0
333,MA M.S.A.,359.8,537.8,2.9,123.9,SPRINGFIELD,MO,115.0
334,OH M.S.A.,164.8,348,3.7,145.6,SPRINGFIELD,IL,104.0
335,OH M.S.A.,164.8,348,3.7,145.6,SPRINGFIELD,MO,115.0
336,IL M.S.A.,533.6,740.1,3.8,132.7,SPRINGFIELD,IL,104.0
337,IL M.S.A.,533.6,740.1,3.8,132.7,SPRINGFIELD,MO,115.0
343,CA M.S.A.,562.2,823.6,8.5,222.7,STOCKTON,CA,184.0
345,NY M.S.A.,154.2,276.4,5.3,65.6,SYRACUSE,NY,63.0
347,FL M.S.A.,425,631.6,4.5,127.5,TALLAHASSEE,FL,102.0
348,FL M.S.A.,228.7,340.8,3.9,75.6,TAMPA,FL,101.0
351,OH M.S.A.,388.8,616.8,7.1,149.2,TOLEDO,OH,73.0
352,KS M.S.A.,240.9,391.5,9.0,108.8,TOPEKA,KS,114.0
354,AZ M.S.A.,293.4,496.4,4.8,141.0,TUCSON,AZ,193.0
355,OK M.S.A.,385.3,588.9,9.2,126.4,TULSA,OK,127.0
365,TX M.S.A.,271.3,424.1,2.7,71.6,WACO,TX,130.0
371,IA M.S.A.,344.7,442.4,1.8,42.1,WATERLOO,IA,91.0
376,FL M.D.,290.1,451.9,5.3,121.2,WEST PALM BEACH,FL,75.0
378,KS M.S.A.7,535.9,708.8,6.5,106.3,WICHITA,KS,128.0
379,TX M.S.A.,178.5,362.3,8.0,85.9,WICHITA FALLS,TX,151.0
380,PA M.S.A.,121.9,205.7,6.1,50.1,WILLIAMSPORT,PA,67.0
381,NC M.S.A.,233.1,363.6,6.0,95.5,WILMINGTON,NC,111.0
382,NC M.S.A.,233.1,363.6,6.0,95.5,WILMINGTON,DE,97.0
383,DE-MD-NJ M.D.,315.9,513,7.3,163.4,WILMINGTON,NC,111.0
384,DE-MD-NJ M.D.,315.9,513,7.3,163.4,WILMINGTON,DE,97.0
386,WA M.S.A.,183.9,299.5,8.4,74.6,YAKIMA,WA,109.0